<div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
</div>

<div class="add-listing-box mb-30">
    <section class="listing-area mb-30">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="basic" role="tabpanel">
                <form class="row" [formGroup]="adressForm">
                    <h3 class="form-title">{{'INFORMATION' | translate}}</h3>
                    <div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label> <i class='bx bx-user'></i> {{'DISTRICT' | translate}}</label>
                                    <input type="text" class="form-control" formControlName="district"
                                        placeholder="{{'DISTRICT' | translate}}">
                                    <div *ngIf="adressForm.get('district')?.invalid && (adressForm.get('district').dirty || adressForm.get('district').touched)"
                                        class="alert">
                                        <div *ngIf="adressForm.get('district').errors?.required">
                                            Bu alan boş bırakılamaz.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label><i class='bx bx-user'></i> {{'STREET' | translate}}</label>
                                    <input type="text" class="form-control" formControlName="street"
                                        placeholder="{{'STREET' | translate}}">
                                    <div *ngIf="adressForm.get('street')?.invalid && (adressForm.get('street').dirty || adressForm.get('street').touched)"
                                        class="alert">
                                        <div *ngIf="adressForm.get('street').errors?.required">
                                            Bu alan boş bırakılamaz.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label><i class='bx bx-user'></i> {{'POST_CODE' | translate}}</label>
                                    <input type="text" class="form-control" formControlName="postCode"
                                        placeholder="{{'POST_CODE' | translate}}">
                                    <div *ngIf="adressForm.get('postCode')?.invalid && (adressForm.get('postCode').dirty || adressForm.get('postCode').touched)"
                                        class="alert">
                                        <div *ngIf="adressForm.get('postCode').errors?.required">
                                            Bu alan boş bırakılamaz.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-2">
                                <div class="form-group">
                                    <label><i class='bx bx-user'></i> {{'EMAIL' | translate}}</label>
                                    <input type="text" class="form-control" formControlName="email"
                                        placeholder="{{'EMAIL' | translate}}">
                                    <div *ngIf="adressForm.get('email')?.invalid && (adressForm.get('email').dirty || adressForm.get('email').touched)"
                                        class="alert">
                                        <div *ngIf="adressForm.get('email').errors?.required">
                                            Bu alan boş bırakılamaz.
                                        </div>
                                        <div *ngIf="adressForm.get('email')?.errors?.email" class="alert">
                                            Lütfen geçerli bir email adresi giriniz.
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group">
                                    <label> <i class='bx bx-user'></i> {{'PHONE_NUMBER' | translate}}</label>
                                    <input type="text" class="form-control" formControlName="phoneNumber"
                                        placeholder="{{'PHONE_NUMBER' | translate}}">
                                    <div *ngIf="adressForm.get('phoneNumber')?.invalid && (adressForm.get('phoneNumber').dirty || adressForm.get('phoneNumber').touched)"
                                        class="alert">
                                        <div *ngIf="adressForm.get('phoneNumber').errors?.required">
                                            Bu alan boş bırakılamaz.
                                        </div>
                                    </div>
                                </div>

                                <!-- <div >
                                    <label> <i class='bx bx-user'></i> {{'PHONE_NUMBER' | translate}}</label>
                                        <ngx-intl-tel-input 
                                            [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true"
                                            [enablePlaceholder]="true" [searchCountryFlag]="true" [searchCountryField]="[
                                    SearchCountryField.Iso2,
                                    SearchCountryField.Name
                                  ]" [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.Sweden" [maxLength]="15"
                                            [phoneValidation]="false" [separateDialCode]="separateDialCode"
                                            [numberFormat]="PhoneNumberFormat.National" [searchCountryPlaceholder]="placeHolder"
                                            formControlName="phoneNumber">
                                        </ngx-intl-tel-input>
                      
                                    <div *ngIf="adressForm.get('phoneNumber')?.invalid && (adressForm.get('phoneNumber').dirty || adressForm.get('phoneNumber').touched)"
                                        class="alert">
                                        <div *ngIf="adressForm.get('phoneNumber').errors?.required">
                                            {{'THIS_FIELD_CANNOT_BE_LEFT_BLANK'|translate}}
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </form>

                <form>
                    <button (click)="updateAddressForm()" *hasClaim="'funeral_fund_add'"
                        [disabled]="isLoadingButton || adressForm.invalid" class="btn btn-success btn-sm" type="button">
                        <i class="fas fa-save"></i>
                        <span *ngIf="!isLoadingButton">{{'UPDATE' |translate}}</span>
                        <span *ngIf="isLoadingButton">
                            <i class="fa fa-spinner fa-spin"></i> {{'UPDATING' | translate}}
                        </span>
                    </button>
                </form>


            </div>
        </div>
    </section>
</div>