<div class="row align-items-center justify-content-between">
    <div class="col-md-auto col-sm-auto">
        <div class="content-header">
            <h1>{{ isEditMode ? ('UPDATE_ANNOUNCEMENT' | translate) : ('ADD_ANNOUNCEMENT' | translate) }}</h1>
        </div>
    </div>

</div>
<div class="add-listing-box mb-30">

    <section class="listing-area mb-30">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="basic" role="tabpanel">
                <form [formGroup]="frontAnnouncementForm">
                    <div class="row" style="display: flex; flex-direction: column;"
                        formArrayName="frontAnnouncementRecords">
                        <div *ngFor="let item of frontAnnouncementRecords.controls; let i=index" [formGroupName]="i">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label> {{'TITLE' | translate}}</label>
                                    <input type="text" class="form-control" formControlName="title"
                                        placeholder="{{'TITLE' | translate}}">

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label> {{'SHORT_DESCRIPTION' | translate}}</label>
                                    <input type="text" class="form-control" formControlName="shortDescription"
                                        placeholder="{{'SHORT_DESCRIPTION' | translate}}">

                                </div>
                            </div>
                        </div>

                    </div>

                </form>
                <form [formGroup]="frontAnnouncementForm">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label> {{'ORDER' | translate}}</label>
                            <input type="number" class="form-control" formControlName="order"
                                placeholder="{{'ORDER' | translate}}">
                        </div>
                    </div>
                </form>

                <form [formGroup]="frontAnnouncementForm">
                    <div class="row" style="display: flex; flex-direction: column;"
                        formArrayName="frontAnnouncementRecords">
                        <div *ngFor="let item of frontAnnouncementRecords.controls; let i=index" [formGroupName]="i">

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label> {{'PAGE_CONTENT' | translate}}</label>
                                    <ckeditor formControlName="longDescription" [(ngModel)]="ckeditorContent"
                                        [readonly]="false">
                                    </ckeditor>
                                </div>
                            </div>

                            <div class="form-group ">
                                <div class="col-lg-6 col-md-6">
                                    <input type="file" class="choose-a-file" id="fileUrl"
                                        (change)="uploadFileEvent($event)">
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <img *ngFor='let preview of previews' [src]="preview" class="preview">
                                </div>
                            </div>

                        </div>

                    </div>

                </form>
                <div class="form-group col-md-6 status-switch" [formGroup]="frontAnnouncementForm"
                    style="display: flex;">
                    <div class="toggle-class" style="margin-right:20px">
                        <label> {{'IS_ACTIVE' | translate}}</label>
                        <mat-slide-toggle formControlName="isActive">
                            <span *ngIf="frontAnnouncementForm.get('isActive').value">
                                {{'ACTIVE' | translate }}
                            </span>
                            <span *ngIf="!frontAnnouncementForm.get('isActive').value">
                                {{'INACTIVE' | translate }}
                            </span>
                        </mat-slide-toggle>
                    </div>
                    <div class="toggle-class" style="margin-right:20px">
                        <label> {{'IS_SLIDER' | translate}}</label>
                        <mat-slide-toggle formControlName="isSlider">

                            <span *ngIf="frontAnnouncementForm.get('isSlider').value">
                                {{'YES' | translate }}
                            </span>
                            <span *ngIf="!frontAnnouncementForm.get('isSlider').value">
                                {{'NO' | translate }}
                            </span>
                        </mat-slide-toggle>
                    </div>

                    <!-- <div class="toggle-class">
                        <label> {{'IS_ANNOUNCEMENT' | translate}}</label>
                        <mat-slide-toggle formControlName="isAnnouncement">

                            <span *ngIf="frontAnnouncementForm.get('isAnnouncement').value">
                                {{'YES' | translate }}
                            </span>
                            <span *ngIf="!frontAnnouncementForm.get('isAnnouncement').value">
                                {{'NO' | translate }}
                            </span>
                        </mat-slide-toggle>
                    </div> -->

                    <div class="toggle-class" style="margin-right:20px">
                        <label> {{'IS_NEWS' | translate}}</label>
                        <mat-slide-toggle formControlName="isNews">

                            <span *ngIf="frontAnnouncementForm.get('isNews').value">
                                {{'YES' | translate }}
                            </span>
                            <span *ngIf="!frontAnnouncementForm.get('isNews').value">
                                {{'NO' | translate }}
                            </span>
                        </mat-slide-toggle>
                    </div>
                </div>

                &nbsp;
                <div class="m-top-10 col-md-12">
                    <ng-container *ngIf="isEditMode">
                        <button [disabled]="isLoadingButton" (click)="saveFrontAnnouncement()" cdkFocusInitial
                            class="btn btn-success btn-sm m-right-10" type="button">
                            <i class="fas fa-save"></i>
                            <span *ngIf="!isLoadingButton">{{'UPDATE' |translate}}</span>
                            <span *ngIf="isLoadingButton">
                                <i class="fa fa-spinner fa-spin"></i> {{'UPDATING' | translate}}
                            </span>
                        </button>
                    </ng-container>
                    <ng-container *ngIf="!isEditMode">
                        <button [disabled]="isLoadingButton" (click)="saveFrontAnnouncement()" cdkFocusInitial
                            class="btn btn-success btn-sm m-right-10" type="button">
                            <i class="fas fa-save"></i>
                            <span *ngIf="!isLoadingButton">{{'SAVE' |translate}}</span>
                            <span *ngIf="isLoadingButton">
                                <i class="fa fa-spinner fa-spin"></i> {{'SAVING' | translate}}
                            </span>
                        </button>
                    </ng-container>
                    <button type="button" class="btn btn-danger btn-sm" [routerLink]="['/menus/content']"><i
                            class="fas fa-times-circle"></i>
                        {{'CANCEL' | translate }}
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-6 col-md-6" formArrayName="frontAnnouncementRecords">
                            <div  *ngFor="let item of frontAnnouncementRecords.controls; let i=index"
                                [formGroupName]="i">
                                <td style="border: 0 !important;"><img class="detail-photo"
                                        [src]="photoUrl+frontAnnouncementRecords[i].fileUrl" /></td>
                            </div>
                        </div> -->
    </section>
</div>